
<h1 class="index-header">Welcome to the Mars rover game!</h1>
<% if @rover_qty == 0%>
  <h2 class="index-rover-qty"> Currently there is no rover in the mission</h2>
<% else %>
<h2 class="index-rover-qty">Currently there are <%=@rovers_qty%> rovers in the mission.</h2>
<%end%>

<% @rovers.each do |rover| %>
  <p>Rover is at: <%= rover.current_position %></p>
<% end %>

  <div id="mars">


    <table class="map">
    <!-- create top horizontal table header -->
      <th>Y/X</th>
      <%(0..10).each do |num|%>
        <th> <%=num%> </th>
      <% end %>
      <th>X/Y</th>


      <%(0..10).each do |row|%>
        <tr>
          <td><%= (10 - row) %></td>
          <%(1..11).each do |column|%>
            <td><%= " " %></td>
          <%end%>
          <td><%= (10 - row) %></td>
        </tr>
      <%end%>

      <th>Y/X</th>
      <%(0..10).each do |num|%>
        <th> <%=num%> </th>
      <% end %>
      <th>X/Y</th>


    </table>

  </div>
