<div class="new_rover">
  <h1>Add a new rover</h1>

  <%= form_for @rover do |f| %>
    <p>
      <%= f.label :current_position%> <br>
      <%= f.text_field :current_position%>
    </p>

    <p>
      <%=f.label :move%> <br>
      <%=f.text_field :move%>
    </p>

    <p>
      <%= f.submit "Save" %>
    </p>
  <%end%>

<div/>
