<div class="rover_profile">
  <h1>Rover #<%=@rover.id%> profile</h1>
  <h2>Current position:</h2>
    <h3>X: <%=@rover_coordination[0]%></h3>
    <h3>Y: <%=@rover_coordination[1]%></h3>
  <h2>Current heading direction: <%=@rover_direction %></h2>
  <%= link_to "Back to the Rover Game",picture_url%>
<div/>
